.myMemes {
  /* background-color: green; */
  width: 70vw;
  /* margin: 0 auto; */
  margin-top: 5rem;
  padding: 1rem;
}

/* .meme-grid { */
/* background-color: red; */
/* padding: 0.5rem; */
/* } */
